body {
   font-size: 16px;
   font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
   /*line-height: 1.5em;*/
 }

h1,h3 {
  text-align: center;
}

#annotations{
    margin: auto;
    border-collapse:collapse;
    table-layout: fixed;
}

#annotations,th, td, tr{
    text-align: center;
    word-break: break-word;
    width: 150px;
    line-height: 44px;
}