.video_player {
	text-align: center;
	margin: auto;
}

.video_player .playbar {
	/* text-align: center; */
	margin : auto;
	position: relative;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow:hidden;
}

.video_player .track_bg,
.video_player #pointA,
.video_player #pointB,
.video_player .play_head {
	text-align: center;
  	position: absolute;
}

.video_player .track_bg {
	height: 100%;
	width: 100%;
	background: #e7e7e7;
}

.video_player .play_head {
	cursor: pointer;
	width: 10px;
	height: 100%;
	background: #888;
	z-index: 1;
}

.button{
	width: 100px;
	font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 1px 1px #333;
	border-radius: 5px;
	margin:10px 10px 10px 10px;
	position: relative;
	overflow: hidden;
}

.button.blue{
	border:1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
}

.blue:active{
	top:1px;
	box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
	background: -moz-linear-gradient(top,#1a71a8,#1976b1);
	background: linear-gradient(top,#1a71a8,#1976b1);
}

.blue:hover{
	background: -webkit-linear-gradient(top,#70bfef,#4097ce);
	background: -moz-linear-gradient(top,#70bfef,#4097ce);
	background: linear-gradient(top,#70bfef,#4097ce);
}

.button.special{
	width: 80px;
	line-height: 24px;
	margin:4px 4px 4px 4px;
	border:1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
}

.special:active{
	top:1px;
	box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
	background: -moz-linear-gradient(top,#1a71a8,#1976b1);
	background: linear-gradient(top,#1a71a8,#1976b1);
}

.special:hover{
	background: -webkit-linear-gradient(top,#70bfef,#4097ce);
	background: -moz-linear-gradient(top,#70bfef,#4097ce);
	background: linear-gradient(top,#70bfef,#4097ce);
}